.profile__info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 897px) {
  .profile__info {
    flex-direction: row;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    justify-content: start;
    max-width: 580px;
  }
}