.popup__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: black;
  margin-top: 25px;
  margin-bottom: 75px;
  align-self: start;
  margin-left: 22px;
}

@media (min-width: 897px) {
  .popup__title {
    font-size: 24px;
    line-height: 29px;
    margin-top: 34px;
    margin-left: 36px;
    margin-bottom: 54px;
  }
}