.popup__input_auth-password {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: black;
  color: white;
  border-bottom: 2px solid #ccc;
  caret-color: #fff;
  -webkit-text-fill-color: #fff;
}

.popup__input_auth-password:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px black inset;
}

.popup__input_auth-password::placeholder {
  color: #ccc;
  -webkit-text-fill-color: #ccc;
}