.popup__submit{
  max-width: 238px;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 2px;
  opacity: 1;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 0;
  border: 0;
  margin-bottom: 25px;
  cursor: pointer;
}

@media (min-width: 897px) {
  .popup__submit {
    max-width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 37px;
  }
}

.popup__submit:hover {
  opacity: 0.8;
}

.popup__submit:disabled {
  opacity: 0.2;
  background-color: transparent;
  color: black;
  border: 1px solid #000000;
}